<div class="table-responsive" *ngIf="items">
    <table class="table table-bordered table-striped table-hover table-sm" style="border: 1px solid transparent;">
        <thead>
            <tr
                fhlbnySort
                [(predicate)]="sortConfig.predicate"
                [(ascending)]="sortConfig.ascending"
                [callback]="sortConfig.callback"
            >
                <th
                    *ngFor="let field of fields ; trackBy: name"
                    fhlbnySortBy="{{field.name}}"
                    class="text-center border-0"
                >
                    <span>{{field.label}}</span>
                    <span class="fa fa-sort"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td *ngFor="let field of fields" class="text-center">
                    <a *ngIf="field.routerLinkFn; else cellValue" [routerLink]="field.routerLinkFn(item)">
                        <ng-content *ngTemplateOutlet="cellValue"></ng-content>
                    </a>

                    <ng-template #cellValue>
                        <ng-container [ngSwitch]="field.dataType">
                            <ng-container *ngSwitchCase="'date'">
                                {{item | propertyValue: field.name || '' | date: 'medium'}}
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                {{item | propertyValue: field.name || ''}}
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<fhlbny-pagination [pageData]="pageData" (onPageChange)="pageChange($event)"></fhlbny-pagination>
