<!-- <fhlbny-topbar [appName]="appName" [mainMenuList]="mainMenuList" (userLoggedOut)="onUserLoggedOut($event)" *ngIf="showTopbar"></fhlbny-topbar>
<fhlbny-toaster></fhlbny-toaster>
<fhlbny-error-alert></fhlbny-error-alert> -->
<!-- <router-outlet></router-outlet> -->
<!-- <fhlbny-breadcrumb></fhlbny-breadcrumb> -->
<fhlbny-spinner></fhlbny-spinner>
<form [formGroup]="form">
    <fhlbny-money  [label]="'price'" formControlName="price" [control]='form.controls.price' ></fhlbny-money>
    <!-- <fhlbny-select-hierarhy  [formGroup]="form"  [formcontrolnames]='data'></fhlbny-select-hierarhy> -->
    <fhlbny-select-checkbox  
        [source]="source" 
        [control]='form.controls.system.controls.values'  
        [search]='form.controls.system.controls.search' 
        [label]="'System'"
    ></fhlbny-select-checkbox>
</form>
<pre>{{ form.value | json }}</pre>