<div [@slide]='state' class="col-lg-3 col-md-5 col-12 p-3 w-100 fhlbny-notification-pane border-left">
    <header>
        <section>
            <div class="d-flex mb-1 justify-content-between align-items-center">
                <h4> Notifications </h4>
                <a (click)="hideNotificationPane()" class="fa fa-close"></a>
            </div>
            <div class="input-group pb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text fa fa-search d-flex align-items-center" id="notification-search"></span>
                </div>
                <input type="text" class="form-control" placeholder="Search notification" aria-label="Username" aria-describedby="notification-search"
                    #filterText (keyup)="0">
            </div>
        </section>
        <!-- Filter notifications -->
        <section class="d-flex justify-content-between align-items-center">
            <div>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="markAllRead()">Mark all as read</button>
            </div>
            <div class="btn-group btn-group-toggle">
                <label class="btn btn-sm btn-primary text-capitalize" *ngFor="let filter of filters" [ngClass]="{'active': selectedFilter == filter}">
                    <input type="radio" value="{{ filter }}" id="{{ filter }}" (click)="filterNotifications($event, filter)"> {{ filter }}
                </label>
            </div>
        </section>
    </header>
    <div class="list-group-container px-3">
        <div class="list-group">
            <!-- notification item -->
            <div class="list-group-item rounded mb-2" [ngClass]="notification.notificationRead ? 'item-read' : ''" *ngFor="let notification of filteredList | search :filterText.value.trim()">

                <div class="d-flex justify-content-between">
                    <p class="mb-1 font-weight-bold small">{{notification.message}} </p>
                    <!-- dismiss/close button -->
                    <span class="fa fa-close text-muted ml-2"></span>
                </div>

                <div class="d-flex w-100 justify-content-end">
                    <div class="text-right">
                        <div class="small font-weight-bold text-warning">{{notification.userId}}</div>
                        <div class="text-muted small">{{notification.createdDate}}</div>
                    </div>
                </div>
                <!-- download button -->
                <div class="border-top mt-1 py-1">
                    <a href="#" class="d-block font-weight-bold small" (click)="downloadFile(notification)"> Download </a>
                </div>
            </div>
            <!-- No notification found -->
            <section class="no-notify-found" *ngIf="(filteredList | search :filterText.value.trim()).length==0 && filterText.value!=''">
                <section class="notify-item"> No result found for
                    <strong> {{filterText.value}}. </strong>
                </section>
            </section>
            <!-- No notification not available -->
            <section class="no-notify-found" *ngIf="filteredList.length==0 && filterText.value==''">
                <section class="notify-item"> There are no notification.
                </section>
            </section>
        </div>
    </div>
</div>