<!-- <div  [formGroup]="formGroup">

</div> -->
<div class="form-group " [formGroup]="formGroup" *ngFor="let contact of  formcontrolnames"  >
  <div  *ngIf="!contact.parent || formGroup.controls[contact.parent].value">
    <label for="{{ contact.label}}" class="col-12 col-sm-3 col-form-label text-sm-right" >
      {{ contact.label}}
    </label>
    <div class="col-12 col-lg-6 col-sm-8">
      <select formControlName="{{contact.key}}" class="form-control form-control-sm"  >
        <option value="">Select {{ contact.label }}</option>  
          <ng-container *ngFor="let data of  contact.data  ">
              <option   value="{{ data.id }}" *ngIf="!contact.parent" >{{ data.name }}</option>
              <ng-container *ngIf="contact.parent">
                <option   value="{{ data.id }}" *ngIf="  formGroup.controls[contact.parent].value == data.parentid" >{{ data.name }}</option>
              </ng-container> 
            </ng-container> 
      </select>
    </div>
  </div>
</div> 