@import '../../assets/styles/variable';
.fhlbny-user-menu {
    .user-picture {
        width: 30px;
        height: 30px;
    }
    .username-box {
        cursor: pointer;
        @include transition(0.4s);
        &:hover {
            background-color: $gray-400;
        }
    }
    .dropdown-menu {
        min-width: 12rem;
        margin-left: 8px;
        &::after {
            content: "";
            position: absolute;
            top: -10px;
            right: 2px;
            border-width: 0 10px 10px 10px;
            border-style: solid;
            border-color: transparent transparent $white transparent;
        }
        &::before {
            content: "";
            position: absolute;
            top: -11px;
            right: 2px;
            border-width: 0 10px 10px 10px;
            border-style: solid;
            border-color: transparent transparent $gray-500 transparent
        }
    }
}
.sign-viewer {
    border: 2px dashed;
    height: 100px;
    overflow: hidden;
    width: 300px;
}