<nav aria-label="breadcrumb" class="mt-2">
  <ol class="breadcrumb  mx-2 mb-0 bg-transparent">
    <li *ngFor="let breadcrumb1 of breadcrumbs" class="breadcrumb-item">
      <a href="#" routerLink="/">{{ breadcrumb1.label[0] }}</a>
    </li>
    <li  *ngFor="let menu of breadcrumbs" class="breadcrumb-item active" >
        <a>{{ menu.label[1]}}</a>
    </li>
    <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item active" aria-current="page">
        <a *ngIf="breadcrumb.label.length == 3 ">{{ breadcrumb.label[2] }}</a>
        <a *ngIf="breadcrumb.label.length == 4 "[routerLink]="breadcrumb.label[2]">{{ breadcrumb.label[2] }}</a>    
    </li>
    <li *ngFor="let breadcrumb of breadcrumbs" 
    [class.breadcrumb-item]="breadcrumb.label.length == 4"
    [class.active]="breadcrumb.label.length == 4" aria-current="page">
        <a *ngIf="breadcrumb.label.length == 4">{{ breadcrumb.label[3] }}</a>
    </li>
  </ol>
</nav>

