/* You can add global styles to this file, and also import other style files */

/* Custom reset rules */

@import "assets/styles/reset";
/* Bootstrap lib*/

@import "../node_modules/bootstrap/scss/bootstrap";
/* font awesome lib*/

@import "../node_modules/font-awesome/css/font-awesome.css";

.btn-orange {
    background-color: $orange;
    color: #ffffff;
}

.text-orange {
    color: $orange;
}

.border-orange {
    border-color: $orange !important;
}

.cursor-pointer{
    cursor: pointer;
}
.disable{
    pointer-events: none;
    opacity: 0.65;
}