@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Extending bootstrap variables
$theme-colors: (
  "primary": #1B3A6B
);

// CSS image replacement
@mixin text-hide($ignoreWarning: false) {
  // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;

  @if ($ignoreWarning == false) {
    @warn "The `text-hide()` mixin has been deprecated as of v4.1.0. It will be removed entirely in v5.";
  }
}

.text-hide{
  @include text-hide(true)
}

