<div class="form-group row ">
  <label for="{{label}}" class="col-12 col-sm-3 col-form-label text-sm-right">
      {{label}}
  </label>
  <div class="col-12 col-lg-6 col-sm-8">
      <div class="btn-group">
          <button type="button" class="btn btn-secondary {{ (isOpen)? 'dropdown-toggle' : ' dropdown-toggle' }}"  (click)="toggleSelect()">
            <span class="text-center" [innerHtml]="   (this.selectedItems.length !== 0)?   this.selectedItems.length + ' Selected  '   :  ' Select  ' + label"></span>
          </button>
          <ul class="dropdown-menu multi-select-popup mainul" [ngStyle]="{display:isOpen ? 'block' : 'none'}" style="display:block;" >
            <li  class="filter-container ">
              <div class=" has-feedback filter">
                <input class="form-control " type="text" [value]="filterText" [placeholder]="filterPlaceholder" [formControl]="filterInput" />
                <span [hidden]="!filterText"  class="clear-filter searchclear fa fa-times-circle-o form-control-feedback" (click)="clearFilter()"></span>
              </div>
            </li>
            <ul class="data dropdown-menu multi-select-popup outList" id="outlist" [ngStyle]="{display:isOpen ? 'block' : 'none'}" style="display:block;">
              <li *ngFor="let item of source;  let i = index" class="{{ (focusedIndex === i)? ' focus' : '' }} "  
              ng-mouseover="focusedIndex = i" id="item-{{i}}"  (keyup.enter)="select(item,i)"> 
                <a class="dropdown-item " (click)="select(item,i)">
                  <input type="checkbox"  [checked]="(item.ischecked)?true:false" >
                  <span [innerHtml]="item.name"></span>
                </a>
              </li>
              <li *ngIf="(source).length === 0" class="text-center"> No {{ label }} Found</li>
            </ul>
          </ul>
        </div>
  </div>
</div>  
  