
.searchclear {
    position: absolute;
    top: 12px;
    right: 7px;
}
ul .data{height:250px; width:25%;}
ul .data{overflow:hidden; overflow-y:scroll;}
.dropdown-menu ,button
{
    min-width: 21rem;

}
.dropdown-menu
{
    padding: 0.5px 0;
}
.dropdown-item:active {
    background-color: gray;
}
.focus {
    background: gray;
}