<!-- <fhlbny-panel headerTitle="Pending Membership Repurchases and Redemptions">
  <ng-template #additionalHeaderContent>
    <div>
      <fhlbny-export-controls (exportReport)="export($event)"></fhlbny-export-controls>
      <button type="button" class="btn btn-secondary" (click)="reset()">
        <i class="fa fa-refresh"></i> Refresh
      </button>
      <button type="button" class="btn btn-secondary" (click)="addModal.open()">
        <i class="fa fa-plus"></i> Add
      </button>
    </div>
  </ng-template>
  <div class="card p-2 mb-2 d-block">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">Cust No
            <span class='fa fa-sort  ml-1'></span>
          </th>
          <th class="text-center">Name
            <span class='fa fa-sort  ml-1 name_sort'></span>
          </th>
          <th class="text-center">Transaction
            <span class='fa fa-sort  ml-1'></span>
          </th>
          <th class="text-center">Shares
            <span class='fa fa-sort  ml-1'></span>
          </th>
          <th class="text-center">Membership Requirement Ends
            <span class='fa fa-sort  ml-1'></span>
          </th>
          <th class="text-center">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <a role='button' class="btn text-center p-0 font-weight-bold">178 </a>
          </td>
          <td class="text-center ">
            <a role='button' class="btn text-center p-0">Greater Community Bank</a>
          </td>
          <td class="text-center">
            <a role='button' class="btn text-center p-0 ">Unknown</a>
          </td>
          <td class="text-center">
            <a role='button' class="btn text-center p-0 ">10</a>
          </td>
          <td class="text-center">
            <a role='button' class="btn text-center p-0 ">12/05/05</a>
          </td>
          <td>
            <button (click)="delete(deleteModal)">delete</button>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <a role='button' class="btn text-center p-0 font-weight-bold">770 </a>
          </td>
          <td class="text-center ">
            <a role='button' class="btn text-center p-0">The Provident Bank</a>
          </td>
          <td class="text-center">
            <a role='button' class="btn text-center p-0 ">Unknown</a>
          </td>
          <td class="text-center">
            <a role='button' class="btn text-center p-0 ">10</a>
          </td>
          <td class="text-center">
            <a role='button' class="btn text-center p-0 ">04/02/07</a>
          </td>
          <td>
            <button (click)="delete(deleteModal)">delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</fhlbny-panel> -->

<fhlbny-modal [headerTitle]="'Add record'" #addModal>
  <div fhlbny-modal-body>
    <fhlbny-form [formGroup]="demoForm" [formDescription]="formDescription" [formType]="formType" (buttonClick)="buttonClicked($event)"></fhlbny-form>
  </div>
  <div fhlbny-modal-footer>
    <button type="button" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" (click)="addModal.close()">Cancel</button>
  </div>
</fhlbny-modal>

<fhlbny-modal [headerTitle]="'Delete'" #deleteModal>
  <div fhlbny-modal-body>
    <p>Are you sure you want to delete ? </p>
  </div>
  <div fhlbny-modal-footer>
    <button type="button" class="btn btn-danger">Delete</button>
    <button type="button" class="btn btn-primary" (click)="closeDeleteModal(deleteModal)">Cancel</button>
  </div>
</fhlbny-modal>

<!--- List screen state params -->

<fhlbny-panel headerTitle="Sample Search">
  <fhlbny-filtering [fields]="filterFields" (onSearchSubmit)="onSearchSubmit($event)"></fhlbny-filtering>
  <button (click)="btnClick()">Generate get error</button>
  <button (click)="btnClickPost()">Generate post error</button>
  <button (click)="openDeleteModal(deleteModal)">Open Delete Modal</button>
</fhlbny-panel>

<fhlbny-panel headerTitle="Sample List">
  <ng-template #additionalHeaderContent>
    <div>
      <fhlbny-page-size-selector class="d-inline-block align-middle mr-2" [currentPageSize]="pageData.itemsPerPage" (onPageSizeChange)="onPageSizeChange($event)"></fhlbny-page-size-selector>
    </div>
    <fhlbny-export-controls [hasPermission]="['Add acstogl maintenance record']" (onExport)="exportClicked($event)"></fhlbny-export-controls>
    <fhlbny-table [fields]="tableFields" [items]="items" [pageData]="pageData" (onPageChange)="loadPage($event)" [sortConfig]="sortConfig"></fhlbny-table>
  </ng-template>
</fhlbny-panel>