<div class="form-group row">
  <label for="{{label}}" class="col-12 col-sm-3 col-form-label text-sm-right">
      {{label}}
  </label>
  <div class="col-12 col-lg-6 col-sm-8">
    <input type="text"  #myname  class="form-control form-control-sm" id="{{ label}}" placeholder="Enter {{ label}}" >
  </div>
</div>  
  